body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #buildings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .building {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .building h2 {
    margin-top: 0;
  }
  
  .building p {
    margin-bottom: 10px;
  }
  
  .building a {
    display: block;
    text-align: center;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .building a:hover {
    background-color: #0069d9;
  }